.header{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   justify-content: space-between;
   align-items: center;
   width: 73rem;
  }

  .header svg{
    font-size: 25px;
  }

  .aside h2{
    margin: 0;
}

.cart{
    background-color: rgba(100, 96, 96, 0.189);
    padding: 2px 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.cart span{
    position: absolute;
    right:7%;
}

.cart:hover{
    background-color: antiquewhite;
}